.BarChart {
  text-align: center;
  margin-top: 40px;

  & > h1 {
    text-transform: none;
  }

  .bar {
    fill: rgb(216, 103, 10);
  }

  .bar:hover {
    fill: rgb(184, 87, 8);
  }

  .heading {
    font-size: 2em;
    fill: #222222;
    text-align: center;
  }

  .wrapper {
    padding: 40px 60px;
    margin: 20px auto;
  }

  svg {
    padding: 0 0 0 10px;
  }

  &_d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: #000000;
    color: #fff;
  }
}
