.TicTacToeGame {
  text-align: center;
  margin: 40px auto;
  width: 340px;
  &_title {
    margin-top: 1em;
    font-size: 2em;
  }
  &_grid {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &_cell {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    color: #e27900;
    background: #222222;
  }
  &>h1 {
    text-transform: none
  }

}
