.PomodoroClock {
  text-align: center;
  margin-top: 40px;
  width: 400px;
  margin: 40px auto;
 
  .card {
    color: #ffffff;
    background: #333333;
    &-title {
      margin-top: 1em;
      font-size: 2em;
    }
    &-subtitle {
      font-size: 1.6em;
      line-height: 1.8em;
      padding-bottom: 1em;
      color: #ffffff;
    }
    &-body {
      font-size: 1.2em;
      text-transform: uppercase;
      background: #1a1a1a;
    }
  }


  &>h1 {
    text-transform: none
  }
}
