.WikipediaViewer {
  text-align: left;
  margin-top: 40px;

  &>h1 {
    text-transform: none
  }

  &_header {
    text-align: center;
    margin-bottom: 30px;
  }

  &_results {
    margin-top: 40px;
    .list-group-item {
      margin: 5px 12px 0;
    }
  }
}
