.Calculator {
  text-align: center;
  width: 290px;
  margin: 40px auto;

  /**
   * Drop everything in a card
   */
  .card {
    background: #222222;
    color: #ffffff;
    border-radius: 50px;
    h1 {
      text-transform: none;
      color: #ffffff;
      margin-top: 20px;
    }
    h2 {
      color: #444444;
    }
  }
  
  /**
   * Overall design of everything in the card
   */
  &_contents {
    font-size: 24px;
    margin: 20px auto;
    width: 225px;
  }

  /**
   * input and results display
   */
  &_display {
    color: #000000;
    background-color: #cccccc;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 155px;
    height: 45px;
    float: left;
    line-height: 45px;
    text-align: right;
    overflow:hidden !important;
  }  

  /**
   * Design of the individual buttons
   */
  button {
    margin: 5px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 0;
    background: #757575;
    color: #ffffff;
    cursor: pointer;
    float: left;
    &:hover {
      background: #333333;
    }
  }  

}
