.dropdown-item:hover, .dropdown-item:focus,
.dropdown-item:hover a, .dropdown-item:focus a,
{
  color: #f8f9fa;
  background-color:  #1A1A1A;
}
.dropdown-item:hover a, .dropdown-item:focus a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  letter-spacing: 3px;
}
body {
  color: #303030;
  background: rgb(228, 228, 228);
}
b, strong {
  font-weight: 600;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a {
  color: #e27900;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
li a {
  color: black;
}
.card {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* Override info button color from blue to orange */
.btn-info{color:#fff;background-color:#e27900;border-color:#e27900}
.btn-info:hover{color:#fff;background-color:#b15e00;border-color:#b15e00}
.btn-info:focus,.btn-info.focus{-webkit-box-shadow:0 0 0 0.2rem rgba(214, 130, 4, 0.5);box-shadow:0 0 0 0.2rem rgba(214, 130, 4, 0.5)}
.btn-info.disabled,.btn-info:disabled{color:#fff;background-color:#9e5501;border-color:#9e5501}.btn-info:not(:disabled):not(.disabled):active,.btn-info:not(:disabled):not(.disabled).active,.show>.btn-info.dropdown-toggle{color:#fff;background-color:#b15e00;border-color:#b15e00}
.btn-info:not(:disabled):not(.disabled):active:focus,.btn-info:not(:disabled):not(.disabled).active:focus,.show>.btn-info.dropdown-toggle:focus{-webkit-box-shadow:0 0 0 0.2rem rgba(214, 130, 4, 0.5);box-shadow:0 0 0 0.2rem rgba(214, 130, 4, 0.5)}