.Twitchtv {
  margin-top: 40px;

  h2 {
    text-align: center;
    text-transform: none;
    margin-bottom: 20px;
  }
  img {
    width: 50px;
    border-radius: 10px;
    margin-right: 40px;
  }
  span {
    margin-top: 10px;
    float: right;
  }
}
