.Home {
  &_header {
    h1 {
      text-align: center;
      margin-top: 30px;
    }
  }
  &_contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    >.card {
      max-width: 400px;
      width: 400px;
      margin: 10px auto;
      display: block;
    }
  }
  &_datelabel {
    display: inline-block;
    width: 100px;
  }


}
